@page "/all-children"
@using BirthPlatform.Data
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<BirthContext> _contextFactory
@attribute [Authorize(Policy = "Healthcare")]

<MudDataGrid @ref="_childGrid" T="Child" Items="@_children" ReadOnly="@_readOnly"
             EditMode="@(_isCellEditMode ? DataGridEditMode.Cell : DataGridEditMode.Form)"
             StartedEditingItem="@StartEditingItem"
             CommittedItemChanges="@CommittedItemChanges"
             Bordered="true" Dense="true" EditTrigger="@(_editTriggerRowClick ? DataGridEditTrigger.OnRowClick : DataGridEditTrigger.Manual)">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Alle barn</MudText>
        <MudSpacer />

    </ToolBarContent>
    <Columns>
        <PropertyColumn Property="x => x.Id" Title="Id" Editable="false" />
        <PropertyColumn Property="x => x.Name" Title="Navn"/>
        <PropertyColumn Property="x => x.BirthMother" Title="Fødemor"/>
        <PropertyColumn Property="x => x.BirthDate" Title="Fødselsdato" />
        <PropertyColumn Property="x => x.Allergies.Count" Title="Antall allergier">
            <EditTemplate>
                <MudSelect T="string" Label="Allergier" MultiSelection="true" @bind-SelectedValues="_allergies">
                    @foreach (var allergy in allowedAllergies)
                    {
                        <MudSelectItem T="string" Value="@allergy">@allergy</MudSelectItem>
                    }
                </MudSelect>
            </EditTemplate>

        </PropertyColumn>
        <PropertyColumn Property='x => x.Booking == null ? "ingen" : x.Booking.DoctorHPR' Title="Timebestilling">
            <EditTemplate>
                <MudCheckBox T="bool" Label="Ta timebestilling?" @bind-value="takeBooking">
                </MudCheckBox>
                @if (takeBooking)
                {
                    <MudTimePicker @bind-Time="bookingTime" Required="true" />
                    <MudDatePicker @bind-Date="bookingDate" Required="true" />
                }
            </EditTemplate>
        </PropertyColumn>
        <TemplateColumn Hidden="@_readOnly" CellClass="d-flex justify-between">
            <CellTemplate>
                @if (!_isCellEditMode && !_editTriggerRowClick)
                {
                    <MudIconButton aria-label="Rediger barn" Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="@context.Actions.StartEditingItemAsync" />
                }
                <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Delete" OnClick="@(() => DeleteItem(context.Item))" />
            </CellTemplate>
            <EditTemplate>
                @if (!_isCellEditMode && !_editTriggerRowClick)
                {
                    <MudIconButton aria-label="Rediger barn" Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="@context.Actions.StartEditingItemAsync" />
                }
                <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Delete" OnClick="@(() => DeleteItem(context.Item))" />
            </EditTemplate>
        </TemplateColumn>
    </Columns>
</MudDataGrid>

<div class="d-flex flex-wrap mt-4">
    <MudSwitch @bind-Value="_readOnly" Color="Color.Primary">Read Only</MudSwitch>
    <div class="d-flex justify-start align-center ml-4">
        <p class="mud-typography mud-typography-body1 mud-inherit-text mr-2">Form</p>
        <MudSwitch @bind-Value="_isCellEditMode" Color="Color.Primary">Cell</MudSwitch>
    </div>
    <div class="d-flex justify-start align-center ml-4">
        <p class="mud-typography mud-typography-body1 mud-inherit-text mr-2">Manual</p>
        <MudSwitch @bind-Value="_editTriggerRowClick" Color="Color.Primary">On Row Click</MudSwitch>
    </div>
    <MudSwitch @bind-Value="_validateOnCommit" Color="Color.Primary">Validate On Commit</MudSwitch>
</div>
@code {
    private List<Child> _children = [];
    private bool _readOnly;
    private bool _isCellEditMode;
    private List<string> _events = new();
    private bool _editTriggerRowClick;
    private bool _validateOnCommit;
    private MudDataGrid<Child> _childGrid = default!;

    [CascadingParameter]
    private Task<AuthenticationState>? AuthState { get; set; }

    private bool takeBooking;
    private TimeSpan? bookingTime;
    private DateTime? bookingDate = DateTime.Today;

    private IReadOnlyCollection<string> _allergies = [];

    private IEnumerable<string> allowedAllergies = [
    "Gluten", "Pollen", "Melk", "Pencilin", "Nøtter"
    ];

    protected override async Task OnInitializedAsync()
    {
        using (var dbcontext = _contextFactory.CreateDbContext())
        {
            _children = dbcontext.Children.ToList(); 
            var allBookings = dbcontext.Bookings.ToList();
            foreach (var child in _children)
            {
                child.Booking = allBookings.Where(x => x.ChildId == child.Id).FirstOrDefault();
            }
        }
    }

    private void DeleteItem(Child item)
    {
        _children.Remove(item);
    }

    private void StartEditingItem(Child item)
    {
        _allergies = item.Allergies.ToArray();
    }

    private async Task<DataGridEditFormAction> CommittedItemChanges(Child item)
    {
        using (var dbcontext = _contextFactory.CreateDbContext())
        {
            var authState = await AuthState!;
            var hprNumber = authState.User.Claims.Where(x => x.Type == "helseid://claims/hpr/hpr_number").First();
            Booking? booking = null;
            if (takeBooking)
            {
                booking = new Booking()
                    {
                        Id = new Guid(),
                        //Child = item,
                        ChildId = item.Id,
                        DoctorHPR = hprNumber.Value,
                        Time = bookingDate + bookingTime ?? DateTime.Today,
                        Location = "Trondheim"
                    };
                dbcontext.Bookings.Add(booking);
                dbcontext.SaveChanges();
                item.Booking = booking;
            }
            item.Allergies = _allergies.ToArray();
            dbcontext.Update(item);
            dbcontext.SaveChanges();
        }
        takeBooking = false;

        return DataGridEditFormAction.Close;
    }
}